@model HumanResourcesApp.Application.Models.DTOs.ListOfDetailedManagerDTO

@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>

<div>

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayName("Name")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Second Name")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Surname")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Second Surname")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Birth Date")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Place Of Birth")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Identity Number")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Date Of Recruitment")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfRecruitment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Job")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Department")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Adress")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Phone Number")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Email")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>|
    @Html.ActionLink("Edit", "UpdateManager", new {  id = Model.Id  })
</div>
